<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div>
  <simple-notifications></simple-notifications>
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card mb-4">
                <div class="card-body">
                  <h6 class="mb-4">Patient Registration</h6>
              
                  <form [formGroup]="basicForm" #form="ngForm" (ngSubmit)="onSubmit()" novalidate class="tooltip-label-right">
                    <div class="form-group error-l-50">
                      <label>{{ 'forms.firstname' | translate }}</label>
                      <input type="text" class="form-control" name="firstName" formControlName="firstName">
                      <div *ngIf="basicForm.get('firstName').errors?.required && form.submitted" class="invalid-tooltip">First Name is required!</div>
                      <div *ngIf="basicForm.get('firstName').errors?.minlength && form.submitted" class="invalid-tooltip">First Name must contain at least 2 characters!</div>
                    </div>
                    <div class="form-group error-l-50">
                      <label>{{ 'forms.lastname' | translate }}</label>
                      <input type="text" class="form-control" name="lastName" formControlName="lastName">
                      <div *ngIf="basicForm.get('lastName').errors?.required && form.submitted" class="invalid-tooltip">Last Name is required!</div>
                      <div *ngIf="basicForm.get('lastName').errors?.minlength && form.submitted" class="invalid-tooltip">Last Name must contain at least 2 characters!</div>
                    </div>
                    <div class="form-group">
                      <label>{{ 'forms.phone' | translate }}</label>
                      <input type="text" class="form-control" formControlName="phone">
                      <div *ngIf="basicForm.get('phone').errors?.required && form.submitted" class="invalid-tooltip">Phone number is required</div>
                    </div>
                    <div class="form-group">
                      <label>{{ 'forms.address' | translate }}</label>
                      <textarea class="form-control" rows="2" formControlName="address"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">{{ 'forms.submit' | translate }}</button>
                  </form>
              
                </div>
              </div>
              
        </div>
        <div class="col-sm-12 col-md-6 mb-4" *ngIf="this.patient!=null">
          <div class="col-sm-12 text-center">
            <span ><qrcode [qrdata]="patient.qrCode" [width]="250" [errorCorrectionLevel]="'M'"></qrcode></span>
          </div>
            <div class="card d-flex flex-row mb-3" >
              <div class="d-flex flex-grow-1 min-width-zero">
                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                  <a href="javascript:;" class="mb-1 truncate w-20 w-xs-100">{{patient.firstName}} {{patient.lastName}}</a>
                  <p class="mb-1 text-muted text-small w-20 w-xs-100">{{patient.phone}}</p>
                  <p class="mb-1 text-muted text-small w-20 w-xs-100">{{patient.address}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
  
</div>

