<simple-notifications></simple-notifications>
<div class="row">
    <div class="col-sm-12 col-md-6 mb-4">
        <div class="card mb-4">
            <div class="card-body">
              <h6 class="mb-4">Clinic Details</h6>
          
              <form [formGroup]="basicForm" #form="ngForm"  (ngSubmit)="onSubmit()" novalidate class="tooltip-label-right">
                <div class="form-group error-l-50">
                  <label>{{ 'forms.clinicName' | translate }}</label>
                  <input type="text" class="form-control" name="clinicName" formControlName="clinicName">
                  <div *ngIf="basicForm.get('clinicName').errors?.required && form.submitted" class="invalid-tooltip">First Name is required!</div>
                  <div *ngIf="basicForm.get('clinicName').errors?.minlength && form.submitted" class="invalid-tooltip">First Name must contain at least 2 characters!</div>
                </div>
                <div class="form-group">
                  <label>{{ 'forms.phone' | translate }}</label>
                  <input type="text" class="form-control" formControlName="clinicPhone">
                  <div *ngIf="basicForm.get('clinicPhone').errors?.required && form.submitted" class="invalid-tooltip">Phone number is required</div>
                </div>
                <div class="form-group">
                    <label>{{ 'forms.email' | translate }}</label>
                    <input type="text" class="form-control" name="clinicEmail" formControlName="clinicEmail">
                    <small>Valid email</small>
                    <div *ngIf="basicForm.get('clinicEmail')?.errors?.required && form.submitted" class="invalid-tooltip">Email is required!</div>
                    <div *ngIf="basicForm.get('clinicEmail')?.errors?.email && form.submitted" class="invalid-tooltip">Email must be a valid address!</div>
                  </div>
                  <div class="form-group">
                <label class="form-group has-float-label">
                    <ng-select [items]="[{id:1, name:'Share 4 Care'}, {id:2, name:'Review Rescue'}]" formControlName="microApps" bindLabel="name"
                      bindValue="id"  multiple="true" required   name="ngSelectSingle2">
                    </ng-select>
                    <span>{{ 'forms.microApps' | translate }}</span>
                    <div *ngIf="basicForm.get('microApps')?.errors?.required && form.submitted" class="invalid-tooltip">Value is required!</div>
                  </label>
                </div>
                <div class="form-group">
                  <label>{{ 'forms.address' | translate }}</label>
                  <textarea class="form-control" rows="2" formControlName="clinicAddress"></textarea>
                </div>
                
           
                <h6 class="mb-4">Owner Details</h6>
                <div class="form-group error-l-50">
                    <label>{{ 'forms.firstname' | translate }}</label>
                    <input type="text" class="form-control" name="firstName" formControlName="firstName">
                    <div *ngIf="basicForm.get('firstName').errors?.required && form.submitted" class="invalid-tooltip">First Name is required!</div>
                    <div *ngIf="basicForm.get('firstName').errors?.minlength && form.submitted" class="invalid-tooltip">First Name must contain at least 2 characters!</div>
                  </div>
                  <div class="form-group error-l-50">
                    <label>{{ 'forms.lastname' | translate }}</label>
                    <input type="text" class="form-control" name="lastName" formControlName="lastName">
                    <div *ngIf="basicForm.get('lastName').errors?.required && form.submitted" class="invalid-tooltip">Last Name is required!</div>
                    <div *ngIf="basicForm.get('lastName').errors?.minlength && form.submitted" class="invalid-tooltip">Last Name must contain at least 2 characters!</div>
                  </div>
                  <div class="form-group">
                    <label>{{ 'forms.phone' | translate }}</label>
                    <input type="text" class="form-control" formControlName="phone">
                    <div *ngIf="basicForm.get('phone').errors?.required && form.submitted" class="invalid-tooltip">Phone number is required</div>
                  </div>
                  <div class="form-group">
                    <label>{{ 'forms.email' | translate }}</label>
                    <input type="text" class="form-control" name="email" formControlName="email">
                    <small>Valid email</small>
                    <div *ngIf="basicForm.get('email')?.errors?.required && form.submitted" class="invalid-tooltip">Email is required!</div>
                    <div *ngIf="basicForm.get('email')?.errors?.email && form.submitted" class="invalid-tooltip">Email must be a valid address!</div>
                  </div>
                  <div class="form-group">
                    <label>{{ 'forms.address' | translate }}</label>
                    <textarea class="form-control" rows="2" formControlName="address"></textarea>
                  </div>

                <button class="btn btn-primary" type="submit">{{ 'forms.submit' | translate }}</button>
              </form>
          
            </div>
          </div>
          
    </div>
    <div class="col-sm-12 col-md-6 mb-4" *ngIf="adminPanelService.recentRegClients!=undefined">
        <h6 class="mb-4">Registered Clinics</h6>
        <div class="d-flex flex-grow-1 min-width-zero">
            <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
              <a class="mb-1 truncate w-20 w-xs-100">Clinic Name</a>
              <p class="mb-1 truncate w-20 w-xs-100">Phone</p>
              <p class="mb-1 truncate w-20 w-xs-100">Email</p>
              <p class="mb-1 truncate w-20 w-xs-100">Address</p>
            </div>
          </div>
        <div class="card d-flex flex-row mb-3" *ngFor="let client of this.adminPanelService.recentRegClients">
          <div class="d-flex flex-grow-1 min-width-zero">
            <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
              <a href="javascript:;" class="mb-1 truncate w-20 w-xs-100">{{client.clinicName}}</a>
              <p class="mb-1 text-muted text-small w-20 w-xs-100">{{client.clinicPhone}}</p>
              <p class="mb-1 text-muted text-small w-20 w-xs-100">{{client.clinicEmail}}</p>
              <p class="mb-1 text-muted text-small w-20 w-xs-100">{{client.clinicAddress}}</p>
            </div>
          </div>
        </div>
    </div>
</div>