<div class="col-sm-12 col-md-12 mb-4" *ngIf="adminPanelService.recentRegClients!=undefined">
    <h6 class="mb-4">Registered Clients</h6>
    <div class="d-flex flex-grow-1 min-width-zero">
        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
          <a class="mb-1 truncate w-20 w-xs-100">Clinic Name</a>
          <p class="mb-1 truncate w-20 w-xs-100">Phone</p>
          <p class="mb-1 truncate w-20 w-xs-100">Email</p>
          <p class="mb-1 truncate w-20 w-xs-100">Address</p>
        </div>
      </div>
    <div class="card d-flex flex-row mb-3" *ngFor="let client of this.adminPanelService.recentRegClients">
      <div class="d-flex flex-grow-1 min-width-zero">
        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
          <a href="javascript:;" class="mb-1 truncate w-20 w-xs-100">{{client.clinicName}}</a>
          <p class="mb-1 text-muted text-small w-20 w-xs-100">{{client.clinicPhone}}</p>
          <p class="mb-1 text-muted text-small w-20 w-xs-100">{{client.clinicEmail}}</p>
          <p class="mb-1 text-muted text-small w-20 w-xs-100">{{client.clinicAddress}}</p>
        </div>
      </div>
    </div>
</div>